{% extends 'main.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Forgot Password</h4>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'forgot_password' %}">
            {%csrf_token%}
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email-address">
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
          <br>
          <h5> Got password?</h5>
          <a href = "{% url 'login' %}"> Login </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}