{% extends 'main.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Reset Password</h4>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'reset_password' %}">
            {%csrf_token%}
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Enter your new password">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"> Confirm Password</label>
              <input type="password" class="form-control" name="confirm_password" id="password" placeholder="Confirm your new password">
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">Reset</button>
            </div>
          </form>
          <br>
          <h5> Got password?</h5>
          <a href = "{% url 'login' %}"> Reset Password </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}